# Ignor IDE specific files
.vscode
*.iml
*.iws
*.ipr
.idea/

# Ignore binaries
bin/

# Ignore logs
logs/
*.log

# Ignore any compiled object files
*.o

# Ignore executables
bin/
*.exe
*.out

# Ignore any temporary files
*~
*.swp

# Database files
*.db
